<!DOCTYPE html>
<html>

<head>
    <script data-require="jquery@2.1.3" data-semver="2.1.3" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <link data-require="bootstrap@*" data-semver="3.3.2" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <script data-require="bootstrap@*" data-semver="3.3.2" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script data-require="angular.js@*" data-semver="1.4.0-beta.6" src="https://code.angularjs.org/1.4.0-beta.6/angular.js"></script>
    <script src="//www.parsecdn.com/js/parse-1.4.0.min.js"></script>
    <!-- <link rel="stylesheet" href="nestable.css"> -->
    <link rel="stylesheet" href="nestable-style.css">
    <link rel="stylesheet" href="ListBox.css" />
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="angular-ui-tree.css">
    <script src="angular-ui-tree.min.js"></script>
    <script src="createList.js"></script>
    <script src="parse.js"></script>
</head>

<body ng-app="InspectionDetailsViewer">
    <div ng-include="'header.html'">

    </div>
    <!-- Top Navigation Bar -->
    <div class="container" ng-controller="InspectionDetailsController">

        <div id="content">
            <div class="container">
                <!-- Breadcrumbs line -->
                <div class="crumbs">
                    <ul id="breadcrumbs" class="breadcrumb">
                        <li>
                            <i class="icon-home"></i>
                            <a href="index.html">Dashboard</a>
                        </li>
                        <li class="current">
                            <a href="calendar.html" title="">Calendar</a>
                        </li>
                    </ul>
                    <ul class="crumb-buttons">
                        <li>
                            <a href="charts.html" title="">
                                <i class="icon-signal"></i>
                                <span>Statistics</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /Breadcrumbs line -->
                <!--=== Page Header ===-->
                <div class="page-header">
                    <div class="page-title">
                        <h3>Dashboard</h3>
                        <span>Good morning, John!</span>
                    </div>
                </div>
                <!-- /Page Header -->
                <!--=== Page Content ===-->
                <div class="col-md-6" id="inputCraneDetails" >
                    <div class="row">
                        <div class="col-md-12">
                            <div class="widget box">
                                <div class="widget-header">
                                    <h4><i class="icon-reorder"></i>Saved Lists</h4>
                                </div>
                                <div class="widget-content clearfix">
                                    <div class="col-md-7">
                                        <select ng-options="list.attributes.name for list in savedLists" ng-model="selectedList" 
                                                ng-change="itemSelected(selectedList, 'list')" ng-dblclick="viewListDetails(selectedList)" size=10>
                                        </select>                                    
                                    </div>
                                    <div class = "col-md-5">
                                        <div>
                                            <button id="inspectionPointListButton" class="greenButton sideButtons" ng-click="showSelectedListTypeInformation('inspectionPoint')">Create Inspection Point List</button>
                                            <button id="optionListButton" class="blueButton sideButtons" ng-click="showSelectedListTypeInformation('option')">Create Option List</button>                             
                                            <button id="duplicateListButton" class="greenButton sideButtons" ng-click="duplicateList(selectedList)">Duplicate List</button>               
                                            <button id="deleteButton" class="redButton sideButtons" ng-click="deleteList(selectedList)">Delete List</button>
                                            <button id="resetButton" class="redButton sideButtons">Restart</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="isInspectionPointList">
                        <div class="col-md-12">
                            <div class="widget box">
                                <div class="widget-header">
                                    <h4><i class="icon-reorder"></i>Inspection Point</h4>
                                </div>
                                <div class="widget-content clearfix">
                                    <div class="col-md-8">
                                        <input type="text" id="inspectionPointInputBox" ng-model="crane.newInspectionPoint" />
                                        <select ng-options="inspectionPoint.attributes.name for inspectionPoint in inspectionPoints" ng-model="selectedInspectionPoint" ng-change="itemSelected(selectedInspectionPoint, 'inspectionPoint')" 
                                                ng-dblclick="addItemToInspectionList(selectedInspectionPoint, 'inspectionPoint')"
                                        size=10>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="isOptionList">
                        <div class="col-md-12">
                            <div class="widget box">
                                <div class="widget-header">
                                    <h4><i class="icon-reorder"></i>Options</h4>
                                </div>
                                <div class="widget-content clearfix">
                                    <div class="col-md-8">
                                        <input type="text" id="optionInputBox" ng-model="crane.newOption" />
                                        <select ng-options="option.attributes.name for option in options" ng-model="selectedOption" 
                                                ng-change="itemSelected(selectedOption, 'option')" ng-dblclick="addItemToInspectionList(selectedOption, 'option')" 
                                                size=10>

                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- /Page Content -->
                </div>
                <div class="row" >
                    <div class="col-md-6">
                        <div class="widget box">
                            <div class="widget-header">
                                <h4><i class="icon-reorder"></i>Inspection Criteria</h4>
                            </div>
                            <div id="listInfoBox">
                                <input type="text" placeholder="Enter the name of the list" id="listNameInput" ng-model="list.name" />
                            </div>
                            <div class="widget-content">
                                <div ui-tree>
                                    <ol ui-tree-nodes ng-model="list.listOfItems">
                                        <li ng-repeat="item in list.listOfItems" ui-tree-node>
                                            <div ng-include="'items_renderer.html'">
                                                
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div>
                                <button id="saveButton" class="greenButton saveButton" ng-click="saveList(list.name, selectedList)">Save</button>                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
    </div>
</body>

</html>
